{% extends "base.html.twig" %}

{% block title %}Page Not Found!{% endblock %}

{% block content %}
    <h1>Page Not Found!</h1>
    <h2>The server returned a "{{ status_text }}".</h2>

    <p>
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </p>
{% endblock %}