{% extends "base.html.twig" %}

{% block title %}<title>An Error Occurred: {{ status_text }}</title>{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}